.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
.npmrc
extension-packs
node_modules
src
webviews
vsc-extension-quickstart.md
**/rollup.config.mjs
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
